<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
</head>
<body>
    <h1>Go to Admin</h1>
    <p>Thanks for visiting my blog! Check all this cool stuff about me!</p>
    <a href= {% url 'admin:index' %}>Home</a>
</body>
</html>