<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href={% url 'index' %}>Home</a></li>
                <li><a class="navbar-link" href={% url 'admin:index' %}>Admin</a></li>
                <li><a class="navbar-link" href={% url 'basicapp:register' %}>Register</a></li>
                <li><a class="navbar-link" href={% url 'basicapp:about' %}>About</a></li>
                
                {% if user.is_authenticated %}
                    <li><a class="navbar-link" href={% url 'logout' %}>Logout</a></li>
                {% else %}
                    <li><a class = "navbar-link" href={% url 'basicapp:user_login' %}>Login</a></li>    
                {% endif %}
                    
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body_block %}
        
        {% endblock body_block %}
    </div>
</body>
</html>