{% extends 'basicapp/base.html' %}

<p>Hello hiiii</p>
{% block body_block %}
    <div class="jumbotron">
        <h1>Please Login here</h1>
        <form action={% url 'basicapp:user_login' %} method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter Username">
            <label for="password">Password:</label>
            <input type="password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock body_block %}