{% extends "basicapp/base.html" %}

{% load static %}

{% block body_block %}
    <div class="jumbotron">
        
        {% if registered %}
            <h1>Thank you for Registration</h1>
        {% else %}
            <h1>Register here</h1>
            <h3>Fill out the form:</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{user_form.as_p}}
                {{user_profile_info_form.as_p}}
                <input type="submit" class="btn btn-primary" value="Register">
            </form>
        {% endif %}
            
    </div>
  
{% endblock body_block %}