{% extends "job_offer_app/basic_app_base.html" %}

{% block body_block %}
    <div class="jumbotron">
        <h1>Welcome to the Job Offer details page</h1>
        <h2>Job Offer Details</h2>
        <p>Company Name: {{job_offer_info_detail.company}}</p>
        <p>Designation: {{job_offer_info_detail.designation}}</p>
        <p>Package: {{job_offer_info_detail.package}} per annum</p>
        <p>Experience: {{job_offer_info_detail.experience}}</p>
        <p>Technology Stack: {{job_offer_info_detail.technology_stack}} per annum</p>
        <h3>Applicants for this job offer:</h3>

        {% for applicant in job_offer_info_detail.users.all %}
            <p>Name: {{applicant.name}}</p>
            <p>Role: {{applicant.role}}</p>
        {% endfor %}
    </div>    
    <div class="container">
        <p><a class="btn btn-warning" href="{% url 'job_offer_app:update' pk=job_offer_info_detail.pk %}">Update</a></p>
        <p><a class="btn btn-danger" href="{% url 'job_offer_app:delete' pk=job_offer_info_detail.pk %}">Delete</a></p>
    </div>
{% endblock body_block %}
