{% extends "job_offer_app/basic_app_base.html" %}


{% block body_block %}
    <h1>Delete {{jobofferinfo.company}}  {{jobofferinfo.designation}}?</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" class = "btn btn-danger" value="Delete">
        <a href="{% url 'job_offer_app:job_offer_detail' pk=jobofferinfo.pk %}">Cancel</a>
    </form>
{% endblock body_block %}
