{% extends "job_offer_app/basic_app_base.html" %}

{% block body_block %}
    <h1>Welcome to a list of all the Job offers</h1>
    <ol>
         {% for job_offer in job_offers  %}
            <h2><li><a href="{{job_offer.id}}"><p>{{job_offer.company }}  {{ job_offer.designation}}</p></a></li></h2>
         {% endfor %}
    </ol>
{% endblock body_block %}