{% extends "job_offer_app/basic_app_user_base.html" %}

{% block body_block %}
    <h1>List of Users</h1>
    <ol>
         {% for user in users  %}
            <h2><li><a href="{{user.id}}"><p>{{user.firstname }} {{user.lastname}}</p></a></li></h2>
         {% endfor %}
    </ol>
{% endblock body_block %}