{% extends "job_offer_app/basic_app_user_base.html" %}

{% block body_block %}
    <div class="jumbotron">
        <h1>Welcome to the User Profile Info page</h1>
        <h2>User Details</h2>
        <p>Username: {{user_detail.firstname}} {{user_detail.lastname}}</p>
        <p>Email: {{user_detail.email}}</p>
        <p>role: {{user_detail.role}}</p>
        <p>Experience: {{user_detail.experience}}</p>
        <p>Technology Stack: {{user_detail.technology_stack}} per annum</p>

    </div>    
    <div class="container">
        <p><a class="btn btn-warning" href="{% url 'job_offer_app:user_update' pk=user_detail.pk %}">Update</a></p>
        <p><a class="btn btn-danger" href="{% url 'job_offer_app:user_delete' pk=user_detail.pk %}">Delete</a></p>
    </div>
{% endblock body_block %}
