{% extends "job_offer_app/basic_app_user_base.html" %}


{% block body_block %}
    <h1>Delete {{userprofileinfo.firstname}} {{userprofileinfo.lastname}}?</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" class = "btn btn-danger" value="Delete">
        <a href="{% url 'job_offer_app:user_detail' pk=userprofileinfo.pk %}">Cancel</a>
    </form>
{% endblock body_block %}
