{% extends "job_offer_app/basic_app_user_base.html" %}

{% block body_block %}
    <h1>
        
        {% if not form.instance.pk %}
            Create User
            Create UserProfileInfo
        {% else %}
            Update User
            Update UserProfileInfo
        {% endif %}
            
    </h1>

    <form method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  
{% endblock body_block %}