<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title> Hello Index </title>
		<link rel="stylesheet" href="{% static 'css/mycss.css' %}">
	</head>
	<body>
			<h1>I am in index.html file</h1>
			{{insert_me}}
			<img src="{% static 'images/sample.jpeg' %}" alt="no img">
	</body>
</html>