<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="main.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a class="navbar-brand" href="{% url 'basic_app:index' %}">BRAND</a></li>
				<li><a class="navbar-link" href="{% url 'admin:index' %}">ADMIN</a></li>
				<li><a class="navbar-link" href="{% url 'basic_app:other' %}">Other</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		{% block body_block %}

		{% endblock body_block %}
	</div>
</body>
</html>