<!DOCTYPE html>
{% extends "basic_app/base.html" %}
	{% block body_block %}
		<h1>Welcome TO INDEX</h1>
		<h2>This is an example of template inheritance index.html.</h2>
		<h1>{{text|upper}}</h1>
		<h1>{{number|add:40}}</h1>
		<h1>{{text|cut:'_'}}</h1>
	{% endblock body_block %}
