<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Relative URL</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
	<script src="main.js"></script>
</head>
<body>
	<h1>Welcome to Relative URL Template Page.</h1>
	<a href="{% url 'basic_app:other' %}">The Other Page</a>
	<a href="{% url 'admin:index' %}">Admin Page</a>
	<a href="{% url 'basic_app:index' %}">Index Page</a>
</body>
</html>