{% extends "basic_app/basic_app_base.html" %}
{% load custom_tag %}

{% block body_block %}
    <div class="jumbotron">
        <h1>Welcome to the school details page</h1>
        <h2>School Details</h2>
        <p>Name: {{school_detail.name | lower}}</p>
        <p>Principal: {{school_detail.principal}}</p>
        <p>Location: {{school_detail.location}}</p>
        <p>Number of students in the school: {{ school_detail | students_count }} </p>
        <h3>Students in this school:</h3>

        {% for student in school_detail.students.all %}
            <p>Name: {{student.name}}</p>
            <p>Age: {{student.age}}</p>
        {% endfor %}
    </div>    
    <div class="container">
        <p><a class="btn btn-warning" href="{% url 'basic_app:school_update' pk=school_detail.pk %}">Update</a></p>
        <p><a class="btn btn-danger" href="{% url 'basic_app:school_delete' pk=school_detail.pk %}">Delete</a></p>
    </div>
{% endblock body_block %}
    