{% include "basic_app/basic_app_base.html" %}
{% include "basic_app/_school_home.html" %}

{% block body_block %}
    <h2>List of all the schools</h2>
    <ol>
         {% for school in schools  %}
            <h2><li><a href="{{school.id}}">{{school.name}}</a></li></h2>
         {% endfor %}
    </ol>
{% endblock body_block %}