{% include "basic_app/basic_app_base.html" %}
{% include "basic_app/_student_home.html" %}

{% block body_block %}
    <h2>List of all the students</h2>
    <ol>
         {% for student in students  %}
            <h2><li><a href="{{student.id}}">{{student.name}}</a></li></h2>
         {% endfor %}
    </ol>
{% endblock body_block %}