{% extends "basic_app/basic_app_base.html" %}


{% block body_block %}
    <div class="jumbotron">
        <h1>Welcome to the Student details page</h1>
        <h2>Student Details</h2>
        <p>Name: {{student_detail.name}}</p>
        <p>Age: {{student_detail.age}}</p>
        <p>Date of Joining: {{student_detail.date_of_joining |date:"d-m-Y" }}</p>
        <p>School Name: {{student_detail.school.name | default:"nothing"}}</p>
    </div>    
    <div class="container">
        <p><a class="btn btn-warning" href="{% url 'basic_app:student_update' pk=student_detail.pk %}">Update</a></p>
        <p><a class="btn btn-danger" href="{% url 'basic_app:student_delete' pk=student_detail.pk %}">Delete</a></p>
    </div>
{% endblock body_block %}
    