<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Users</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="main.js"></script>
</head>
<body>
	<div class="container">
		<h1>Please sign up here:</h1>
		<form method="POST">
			{{form.as_p}}
			{% csrf_token %}
			<input type="submit" class="btn btn-primary" value="submit">
		</form>
	</div>
</body>
</html>