<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href={% url 'basic_app:school_list' %}>School</a></li>
                <li><a class="navbar-link" href={% url 'admin:index' %}>Admin</a></li>
                <li><a class="navbar-link" href=""></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body_block %}
        
        {% endblock body_block %}
    </div>
</body>
</html>